*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: aliceblue;
}

.logation{
    display:flex;
    flex-direction: column;
    margin: 0px 0px;
    padding: 0px 0px;
}

h1{ font-size: 3em;}
h2{ font-size: 2.7em;}
h3{ font-size: 1.7em;}
h4{ font-size: 1.25em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: green;
    cursor: pointer;
}

.button-register{
    font-size: 1.25em;
    font-weight: bold;
    padding: 20px 45px;
    border-radius: 50px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(74, 209, 40);
    cursor: pointer;
    text-decoration: none;
}

#about-proyect .container{
    text-align: center;
    padding: 200px 12px;
    display: flex;
    justify-content: space-evenly;
}

.button-register:hover{
    background-color: rgb(50, 134, 31);
    transition: 0.5s;
}

#our-plans .info{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: green;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    display: block;
}

header{
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    animation: progress-grow linear both;
    animation-timeline: scroll(root);
    position:sticky;
    animation-range: 500px 1000px;
}

@keyframes progress-grow{
    from{
        background-color: rgba(0,0,0,0.5);
    }
    to{
        background-color: rgb(59, 54, 54);
    }
}

header .logo{
    margin: 0;
    padding: 25px 30px; /* VERTICAL HORIZONTAL*/
    font-weight: bold;
    color: rgb(68, 217, 68);
    font-size: 1.6em;
}

header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition-duration: 400ms;
    transition-timing-function: ease;
    margin-right: auto;
}

header a:hover{
    color:rgb(68, 217, 68);
    font-size: 1.2em;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("assets/image_hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h2{
    color: white;
    animation: animation-header;
    animation-duration: 500ms;
    animation-delay: 0;
    font-weight: 2em;
}

#hero h3{
    animation:animation-header;
    animation-duration: 500ms;
}

#hero button{
    font-size: 1.75em;
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}


.container{
    max-width: 1400px;
    margin: auto;
}

@keyframes animation-header{
    from{
        transform: translateX(-1000px);
        opacity:0;
    }
    to{
        transform:translateX(0px); 
        opacity:1;
    }
}


@keyframes animation-us-move { /* QUIENES SOMOS?*/
    from{
        transform: translateX(-2500px);
        opacity: 0;
    }   
    to{
        transform: translateX(0px);
        opacity:1;
    } 
}

@keyframes reveal-benefits { /* NUESTROS BENEFICIOS*/
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}

@keyframes animation-last-move{ /*CARACTERISTICAS*/
    from{
        opacity:0;
        transform: translateX(2500px);
    }
    to{
        transform: translateX(0px);
        opacity:1;
    }
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#our-benefits{
    margin: 0px;
}

#about-the-team{
    margin: 0px;
    box-sizing: border-box;
}


@media (min-width: 850px){

    /*CARACTERÍSTICAS*/

    #our-plans .plans{
        display: flex;
        justify-content: center;
    }

    #our-plans p{
        display: block;
        margin-bottom: 30px;
    }

    #our-plans h2{
        font-size: 4em;
    }

    #our-plans h3{
        margin-top: 0;
    }

    #our-plans .plan{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(227, 227, 227);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        margin: 30px;
        border-radius: 15px;
    }

    #our-values .values{
        display: flex;
        justify-content: center;
    }

    #our-values .value-card{
        padding: 50px   ;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(227, 227, 227);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        margin: 30px;
        border-radius: 15px;
    }

    #our-benefits .benefit-card{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(227, 227, 227);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        margin: 30px;
        border-radius: 15px;
    }   

    #our-benefits .benefits{
        display: flex;
        justify-content: center;
    }

    #about-the-team .member-card{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(96, 136, 96);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        margin: 30px;
        border-radius: 15px;
    }

    #about-the-team .members{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    header{
        position: fixed;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #about-proyect{
        flex-direction: row;
        width: 100%;
    }

    #know-more .text{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #about-proyect .text{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #know-more{
        animation: animation-last-move linear;
        animation-timeline: view();
        animation-range: entry 25% cover 35%;
        margin-bottom: 0px;
    }

    #know-more .container{    
        text-align: initial;
        padding: 200px 12px;
        display: flex;
        justify-content: space-evenly;
    }

    #know-more ul{
        margin-left: 100px;
    }

    #about-proyect h2{
        margin-top: 0px;
    }

    #about-proyect .img-container{
        background-image: url("assets/sobre_proyecto.png");
        background-size: cover;
        background-position: center center;
        height: 450px;
        width: 550px; 
    }

    /* STYLES FOR IMG IN KNOW MORE SECTION */
    #know-more .img-container{
        background-image: url("assets/seccion2.jpg");
        background-size: cover;
        background-position: center center;
        height: 450px;
        width: 550px; 
    }

    /*FOOTER*/

    .column {
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }

    .column h3 {
        margin-bottom: 10px;
    }

    .social-network span {
        display: inline-block;
        margin-right: 10px;
    }

    .button-account:hover {
        background-color: #eee;
    }

    footer a {
        color: white;
        margin-right: 10px;
    }

}

footer {
    background-color: rgb(52, 46, 46);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.button-account {
    background-color: white;
    color: green;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.button-start{
    font-size: 1em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(74, 209, 40);
    cursor: pointer;
    text-decoration: none;
}

.button-start:hover{
    transition: 0.5s;
    background-color: green;
}

#know-more .container{
    text-align: left;
    padding: 150px 12px;
    width:100%;
    margin-left: 5px;
}

@media (min-width: 1200px) {
    #know-more{
        background-position-x: calc(100vw - 800px);
    }
}

